.register-form-input-region{
    display: flex;
}

.register-form-input-hint{
    color: black !important;
    font-size: 12px !important;
    margin-left: 30px;
    vertical-align: middle !important;
    width: 267px !important;
    flex-grow: 1;
}

.register-form-input-padding{
    color: rgb(240, 200, 23) !important;
    font-size: 12px !important;
    margin-left: 30px;
    vertical-align: middle !important;
    width: 267px !important;
    flex-grow: 1;
}

.register-form-input-failed{
    color: rgb(224, 41, 71) !important;
    font-size: 12px !important;
    margin-left: 30px;
    vertical-align: middle !important;
    width: 267px !important;
    flex-grow: 1;
}

.register-form-input-passed{
    color: rgb(28, 184, 75) !important;
    font-size: 12px !important;
    margin-left: 30px;
    vertical-align: middle !important;
    width: 267px !important;
    flex-grow: 1;
}